*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding: 5%;
    background-color: rgb(7, 189, 189);
    color: #ffffff;
}

nav{
    top: 1%;
    right: 1%;
    padding: 2px;
    float: inline-start;
    justify-content: space-between;
    display: block;
    list-style: none;
    text-align: left;
    margin-right: 45px;
}

nav li{
    float: right;
    margin-left: 20px;
    font-size: 15px;
    display: block;
}

nav li a{
    color: white;
    text-decoration: none;
}

h1{
    margin-bottom: 10px;
    margin-top: 10px;
}

#content{
    padding: 3%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary-dark {
    color: #fff;
    background-color: #0f3d60;
    border-color: #0f3d60;
}

h2{
    text-align: center;
    margin-bottom: 5px;
}

.content-description{
    text-align: center;
}

.card-content{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    width: 75%;
    display: block;
    white-space: nowrap;
}

.image-content{
    width: 30%;
    display: inline-block;
}

.image-content img{
    width: 100%;
    height: 100%;
}

.text-content{
    vertical-align: top;
    width: 75%;
    padding: 2%;
    display: inline-block;
    white-space: normal;
}

.text-content p{
    margin: 2% 0px;
}

footer{
    text-align: center;
    padding: 30px;
    background-color: rgb(2, 189, 189);
    margin-top: 15%;
}

footer i{
    margin: 0px 30px;
    color: white;
}

footer a:link, footer a:visited{
    text-decoration: none;
}

.theme-button{
    position: absolute;
    top: 9%;
    right: 1%;
    border: none;
    padding: 10px;
    box-shadow: 2px 2px 3px #999;
    background-color: white;
    border-radius: 10px;
    font-size: small;
}

.dark-theme{
    background-color: #414141;
    color: white;
}

header.dark-theme{
    background-color:#262455!important;
}

body.dark-theme{
    background-color:#0f0e20!important;
}

footer.dark-theme{
    background-color:#262455!important;
}

form{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 300px;
    position: relative;
    top: 1px;
    padding: 1px;
    margin-bottom: 1px;
}

form tr td{
    padding: 5px;
}

form td input{
    
}